EECloud.API/Service References/EEService/EES.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EEService" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/EEService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FTBreakerWins" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="GroupID" type="xs:short" />
      <xs:element name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YoScrollWins" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:complexType name="ArrayOfUserData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserData" nillable="true" type="tns:UserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserData" nillable="true" type="tns:ArrayOfUserData" />
</xs:schema>